* {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    
}
body{
    height: 100vh;
    width: 100vw;
    display: content;
    justify-content: center;
    align-items: center;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px;
    box-sizing: border-box; 
}

.logo {
    color: turquoise;
    padding-top: 3%;
    font-size: 60px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    display: block;
}

nav ul li a:hover {
    color: turquoise;
    transition: 0.4s;
}

.header-text {
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 15%;
}
.header-text h1 span{
    color: turquoise;
}

.header-text h1 {
    font-size: 120px;
    margin-top: 20px;
}

.header-text p {
    font-size: 20px;
}

#about {
    width: 100%;
    height: 100%;
    padding: 100px, 0;
    color: #ababab;

}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;

}

.about-col-1 img {
    margin-left: 5%;
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-tittle {
    font-size: 70px;
    font-weight: 600;
    color: #fff;
}

.sub-tittle span {
    color: turquoise;
}

.about-col-2 p {
    font-size: 30px;
    color: gray;
    display: flex;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: turquoise;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    color: gray;
    font-size: 25px;
    
}

.tab-contents ul li span{

    color: turquoise;
}


.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
    height: 100%;
   
}
.tab-contents.active-tab span {
    color: turquoise;
   
}
#Projects{
    height: 100%;
    padding-inline: 30px;
    text-decoration: none;
    background-color: none;
    font-size: 50px;
    margin-top: 20%;
    margin-bottom: 5%;

}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
   
}
.project-list div{
    background: #262626;
    padding : 50px;
    font-size: 40px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
   
  
}
.project-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    color: white;
    background-color: #262626;
   
  
}
.project-list div a{
    text-decoration: none;
    color: turquoise;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    background-color: #262626;
  

}
.project-list div :hover{
    color: turquoise;
    transform: translate(-10px);

}
.Contact{
    padding: 100px, 0;
    margin-top: 10%;
    margin-left: 2%;
    height: 100%;
    margin-bottom: 20%;
    margin-bottom: 30%;
}
.Contact h1{
    font-size: 70px;
    float: left;
    margin-right: 20%;
    
}


.btn{
   
    margin : 10px;
    cursor: pointer;
    transition: all 0.4s;
    border: none;
   
    
}
.btn:hover{
    transform: scale(1.3);

}
.icon{
    font-size: 60px;
    gap: 60px;
}
